
:root{
    --cor1: teal;
    --cor2: rgba(236, 222, 140, 0.562);
    --cor3: white;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color: lightblue;
}

#hero img{width: 70%;}

#hero{
    background-color: rgb(28, 28, 100);
    border-radius: 0 0 10% 10%;
    text-align: center;
    color: var(--cor3);
    font-family: cursive;
    font-size: 80%;
}
#hero h3{
    font-size: 80%;
    margin: 1%;
    padding-bottom: 2%;
}

.container1{
    background-color: white;
    margin: 5% 1% 1%;
    border-radius: 10%;
    padding: 1%;
    box-shadow: 50p teal;
}

/* PARA QUEM É */

#paraqueme{
    color: teal;
}

#paraqueme h2{
    font-size: 30px;
    text-align: center;
}
#paraqueme h3{
    font-size: 18px;
    text-align: center;
}
#paraqueme ul{
    list-style: none;
    padding-left: 0;
    font-size: 75%;
    text-align: left;
    line-height: 20px;
    color: teal;

}

#paraqueme li{
    font-size: ;
    margin: 1%;
    padding: 1%;
}
#paraqueme p{
    font-size: 100%;
    padding: 2%;
    text-align: center;
}

/* PARA QUEM NÃO É */

#paraquemnaoe{
    color: teal;
}

#paraquemnaoe h2{
    font-size: 30px;
    text-align: center;
}
#paraquemnaoe h3{
    font-size: 18px;
    text-align: center;
}
#paraquemnaoe ul{
    list-style: none;
    padding-left: 0;
    font-size: 75%;
    text-align: left;
    line-height: 20px;
    color: teal;
  
}

#paraquemnaoe li{
    font-size: ;
    margin: 1%;
    padding: 1%;
    
}


.container2{
    background-color: beige;
    margin: 1%;
    border-radius: 10%;
    padding: 1%;
}

/* COMUNIDADE*/

#comunidade h2{
    color: var(--cor1);
    font-size: 30px;
    text-align: center;
}

#comunidade #p1,#p2, #p3, #p4{
    color: teal;
    padding: 5px 0;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}

#comunidade ul{
    list-style: none;
    padding-left: 0;
    text-align: left;
}

#comunidade li{
    color: white;
    background-color: teal;
    margin: 1% 0 1%;
    border-radius: 20px;
    font-size: 6%;
    padding: 1%;
    text-align: left;
}

/* botões */

a{
   display: block;
   width: max-content;
   margin: 10px auto;
   padding: 12px 20px;
   border-radius: 999px;
   background-color: #1fb335;
   color: #fff;
   font-weight: 700;
   box-shadow: 2px 2px 2px rgb(27, 126, 2);
   text-decoration: none;
}

a:hover{
   color: black;
   background-color: green

}

footer{
    color: white;
    background-color: teal;
    text-align: center;
    border-radius: 10px 10px 0 0 ;
    padding: 1%;
}
